
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem 0.8rem 4rem;
    gap: 2rem;
    margin-bottom: 4rem;
}


.alchemyLogo {
    flex-shrink: 0;
    width: 30rem;
    cursor: pointer;
    color: white;
    font-size: 28px;
    /*font-family: "AlphabetSoup Tilt BT";*/
    font-family: "AdLib WGL4 BT";
    background: linear-gradient(to right, rgba(14, 118, 253, 1), #ffff00); /*设置渐变的方向从左到右 颜色从ff0000到ffff00*/
    -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
    -webkit-text-fill-color: transparent; /*给文字设置成透明*/
}

.menus {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1.5rem;
    list-style: none;
}

.menusItem {
    /*background-color: #3E4046;*/
    /*color: #ffffff; */
    background-color: #ffffff;
    color: #3E4046;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 8px 24px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.menusItem.active,
.menusItem:hover {
    background-image: repeating-linear-gradient(45deg, #0E76FD, #3d7eff);
    color: #ffffff;
    box-shadow: 0px 2px 12px #2196F3;
}

.connectBtn {
    flex-shrink: 0;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 24px;
}

.connectBtn button[data-testid="rk-connect-button"] {
    line-height: 40px !important;
}

.toggleTheme {
    font-size: 30px;
    color: #1e293b;
    cursor: pointer;
}

.toggleTheme:hover {
    color: #1676FC;
}

